{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Registrar</title>
</head>
<body>
   <form action="{% url 'authi:register' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success" id="Register" value="Registrar"></input>
        <a href="{% url 'APIg:index' %}" class="button is-success">Volver</a>
        {% for message in messages %}
            <p class="item" id="messages">{{ message }}</p>
        {% endfor%}
    </form>
</body>
</html>

