{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Login</title>
</head>
<body>
    <br>
    <div class="columns">
        <div class="column is-6 is-offset-3">
            <h1 class="title">Log in</h1>
    
            <form method="post" action=".">
                {% csrf_token %}
        
                <input type="hidden" name="next" value="{{ next }}">
        
                <div class="field">
                    <label>Username</label>
        
                    <div clas="control">
                        <input type="text" class="input" name="username" id="id_username">
                    </div>
                </div>
        
                <div class="field">
                    <label>Password</label>
                    
                    <div clas="control">
                        <input type="password" class="input" name="password" id="id_password">
                    </div>
                </div>
        
                {% if form.errors %}
                    <div class="notification is-danger">
                        Your username and password didn't match! Please try again!
                    </div>
                {% endif %}
        
                <div class="field">
                    <div class="control">
                        <button class="button is-success">Iniciar</button>
                        <a href="{% url 'APIg:index' %}" class="button is-info">Volver</a>
                        <br>
                        <a href="{% url 'authi:password_reset' %}">Olvide mi contraseña</a>
                        <br>
                        <a href="{% url 'authi:register' %}">Resgistrar</a>
                    </div>
                </div>
               
            </form>
        </div>
    </div>
    
</body>
</html>

    